{# nie mój kod przejrzeć napisać samemu#}
{% extends "books\base.html" %}

{% block content %}
<table class="table">
    <tr>
        <th>Tytuł</th>
        <td>{{book.title}}</td>
    </tr>
    <tr>
        <th>Autorzy</th>
        <td>{{book.authors}}</td>
    </tr>
    <tr>
        <th>Okładka</th>
        <td>
            {% if book.cover_image %}
            <img width="200px" src="{{ book.cover_image.url }}">
            {% endif %}
        </td>
    </tr>

     <tr>
        <th>Wypożyczenia</th>
        <td>
            <form method="post">
                {% if request.user.is_authenticated%}
                    {% csrf_token %}
                    {% if book.is_available %}
                        <input type ="submit" name="loan" class="btn btn-danger" value="Wypożycz">
                    {% else %}
                        <input type ="submit" name="loan_back" class="btn btn-success" value="Zwróć">
                    {% endif %}
                {% endif %}
            </form>
        </td>
    </tr>

</table>

{% endblock %}